<tr>
	<td><%= category.id%></td>
	<td><%= category.name_category%></td>
	<td>	
    <%= link_to edit_admin_category_path(category) do%>
		  <i class='fas fa-edit' style='font-size:24px'></i>
    <% end %>
		<%= link_to admin_category_path(category), method: :delete do %>
			<i class='far fa-trash-alt' style='font-size:24px'></i>
		<% end %>
	</td>
</tr>