<footer class="page-footer font-small special-color-dark pt-4">
  <div class="container">
  	<div class="row">

  		<div class="col-md-3 col-sm-3 col-3">
  			<div class="part-1">
  				<b>ABOUT US</b>
  				<br/>
  				<p>Integer cursus scelerisque ipsum id efficitur. 
					Donec a dui fringilla, gravida lorem ac, semper magna.
				   Aenean rhoncus ac lectus a interdum. 
				   Vivamus semper posuere dui, at ornare turpis ultrices sit amet.
				   Nulla cursus lorem ut nisi porta, ac eleifend arcu ultrices.</p>
  			</div>
  		</div>

  		<div class="col-md-3 col-sm-3 col-3">
  			<div class="part-1">
  				<b>OPENING HOURS</b>
  				<br/>
  				<li class="tradmark">Tue-Wed : 9AM - 10PM </li>
				<li class="tradmark">Thu-Fri : 9AM - 10PM </li>
				<li class="tradmark">Sat : 9AM - 9.30PM </li>
				<li class="tradmark">Mon-Sun: 11AM - 8PM </li>  
  			</div>
  		</div>	

  		<div class="col-md-3 col-sm-3 col-3">
  			<div class="part-1">
  				<b>CONTACT INFORMATION</b>
  				<br/>
  				<li class="tradmark">
				  <h6>102 Truong Chinh Stress - Quan Hoang Mai - Ha Noi</h6>
                </li>
            	<li class="tradmark">
					<h6> Hotline : 0975 861 231 </h6>
					<h6> Tel : 0280 686 868 </h6>
	          	</li>
            	<li class="tradmark">
                	<h6> vietbachkt@github.com</h6>
             	</li>
            	
  			</div>
  		</div>

  		<div class="col-md-3 col-sm-3 col-3">
  			<div class="part-1 private">
  				<div class="conect">
  					<b class="signup"> Sign to take information</b>
  					<div class="input-group mb-3">
  						<input type="text" class="form-control reply" placeholder="Enter you email" aria-label="Recipient's username" aria-describedby="button-addon2">
  						<div class="input-group-append">
    						<button class="btn btn-outline-secondary" type="button" id="button-addon2">Sign</button>
  						</div>
					</div>
  				</div>
  				<div class="payment-dowload">
  						<div class="dowload">
  							<b>Connective</b>
  							<div class="aplication">
  								<div class="row">
  									<div class="fb">
  										<i class='fab fa-facebook-square' style='font-size:36px'></i>
  									</div>
  									<div class="fb">
  										<i class="fab fa-instagram" style="font-size:36px"></i>
  									</div>
  									<div class="fb">
  										<i class="fab fa-twitter-square" style="font-size:36px"></i>
  									</div>
  									<div class="fb">
  										<i class="fab fa-youtube" style="font-size:36px"></i>
  									</div>
  								</div>
  							</div>
  						</div>
  				</div>
  			</div>
  		</div>
  	</div>
  </div>
</footer>